.main-menu {
    height: 50px;
}

.landing-container {
    background-color: #264653;
}

.landing {
    display: flex;
    align-items: center;
    color: white;
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 100px;
}

.landing-title h5 {
    font-size: 11px;
    font-weight: normal;
}

.big-orange-btn {
    height: 50px;
    width: 168px;
    background-color: #E76F51;
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
    text-transform: none;
    font-weight: bold;
    color: white !important;
    text-decoration: none;
}

.img-landing-bike {
    width: 100%;
    height: 447px;
    text-align: center;
}

.banner-bike-img {
    width: 243px;
    height: auto;
    padding: 20px;
}

.featured-bikes {
    padding-top: 40px;
    padding-bottom: 40px;
}

.gray-img {
    filter: grayscale(100%);
}

.client-testimonial h2 {
    color: black;
    font-size: 48px;
    text-align: center;
    padding: 20px;
}

.client-testimonial h2 span {
    color: #E76F51;
}

.client-testimonial-cards {}

.client-testimonial-card {
    text-align: center;
    border: 1px solid #DEDEDE;
    padding: 10px;
    color: #6C6C6C;
    font-size: 16px;
}

.card-star i {
    color: #E77C40;
}

.card-image img {
    width: 60%;
    height: auto;
    padding: 20px;
}

.card-para {
    width: 80%;
    text-align: center;
    margin: 0 auto;
}

.card-name {
    padding-top: 10px;
    padding-bottom: 20px;
    color: #23A6F0;
    font-size: 18px;
    font-weight: bold;
}

.footer-row {
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-left img {
    width: 50%;
    text-align: center;
}

.accordion-item {
    border: 1px solid #D5E5FB;
}

.accordion-header {
    font-size: 20px;
    color: #383838;
    font-weight: bold;
}

.accordion-button {
    font-weight: bold;
}

.accordion-button:focus {
    background-color: #e7f1ff !important;
}

.accordion-button:not(.collapsed) {
    color: #383838;
    background-color: #FFFFFF !important;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

.accordion-body {
    font-size: 16px;
    color: #7E848C;
}

.header {
    text-align: center;
    padding-top: 30px;
    font-size: 14px;
}

.header-color {
    text-decoration: #E76F51;
}

.asked-part h2 span {
    color: #E76F51;
}

.asked-part {
    text-align: center;
    padding-top: 60px;
}

.asked-part img {
    width: 20%;
}

.fourth-pera {
    position: absolute;
}

.footer {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #0B0D17;
}

.footer-header {
    margin-top: 100px;
    text-align: center;
}

.footer-header h2 {
    font-size: 36px;
}

.footer-header h2 span {
    color: orange;
}

.footer-app {
    width: 60%;
    margin: 0 auto;
    color: #FFFFFF;
}

.footer-line1 ul li, .footer-line2 ul {
    text-align: left;
}

.footer-line2 ul li, .footer-line1 ul li {
    list-style: none;
    display: inline-block;
    color: #FFFFFF;
    font-style: normal;
    padding: 10px;
}

.footer-line3 {
    color: #FFFFFF;
    padding-left: 2rem;
}